<!DOCTYPE html>
<html>
    <head>
        <% stylesheet_link_tag "drink_show"%>
        <h1 class><%= @drink.name%></h1>
    </head>
    <body>
        
        <%= @drink.instructions %><br>
        <%= @drink.category %><br>
        <%= @drink.glass%><br>
        <%= @drink.alcoholic%><br>
        <br>
        Ingredient:
            <% @drink.ingredients.each do | ingredient | %>
                <li> <%= link_to ingredient.name, ingredient_path(ingredient) %> </li>
            <% end %>
            <% @drink.drink_ingredients.each do | di | %>
                <li> <%= di.measurement %> </li>
            <% end %>
        <img src=<%= @drink.img_url%> alt=“a pic”>
    </body>
</html>